openapi: 3.0.3
info:
  title: Okada Platform API
  description: |
    Comprehensive API for the Okada e-commerce platform in Cameroon.
    
    ## Key Features
    - Quality Verification Photos (Key Differentiator!)
    - MTN Mobile Money & Orange Money integration
    - Bilingual support (English/French)
    - Offline-first architecture
    - Cameroon-specific localization (FCFA, +237)
    
    ## Authentication
    All authenticated endpoints require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer {token}
    ```
    
    ## Base URL
    - Production: https://api.okada.cm/v1
    - Staging: https://staging-api.okada.cm/v1
    - Development: http://localhost:8000/api/v1
    
  version: 1.0.0
  contact:
    name: Okada API Support
    email: api@okada.cm
    url: https://okada.cm
  license:
    name: Proprietary
    url: https://okada.cm/license

servers:
  - url: https://api.okada.cm/v1
    description: Production server
  - url: https://staging-api.okada.cm/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Development server

tags:
  - name: Authentication
    description: User authentication and registration
  - name: Users
    description: User profile management
  - name: Products
    description: Product catalog and management
  - name: Categories
    description: Product categories
  - name: Cart
    description: Shopping cart operations
  - name: Orders
    description: Order management
  - name: Deliveries
    description: Delivery and rider operations
  - name: Quality Verification
    description: Quality verification photos (KEY DIFFERENTIATOR!)
  - name: Payments
    description: Payment processing (MTN/Orange Money)
  - name: Reviews
    description: Product and delivery reviews
  - name: Sellers
    description: Seller/merchant management
  - name: Riders
    description: Rider management
  - name: Analytics
    description: Analytics and reporting
  - name: Notifications
    description: Push notifications and alerts

paths:
  # ============================================
  # AUTHENTICATION ENDPOINTS
  # ============================================
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register new user
      description: Register a new customer, seller, or rider account
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and receive access token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: User logout
      description: Invalidate current access token
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: Get a new access token using refresh token
      operationId: refreshToken
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # USER ENDPOINTS
  # ============================================
  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      description: Retrieve authenticated user's profile information
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [Users]
      summary: Update current user profile
      description: Update authenticated user's profile information
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users/me/avatar:
    post:
      tags: [Users]
      summary: Upload user avatar
      description: Upload or update user profile picture
      operationId: uploadAvatar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          description: File too large

  # ============================================
  # PRODUCT ENDPOINTS
  # ============================================
  /products:
    get:
      tags: [Products]
      summary: List products
      description: Get paginated list of products with filters
      operationId: listProducts
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: category_id
          in: query
          schema:
            type: integer
          description: Filter by category ID
        - name: seller_id
          in: query
          schema:
            type: integer
          description: Filter by seller ID
        - name: search
          in: query
          schema:
            type: string
          description: Search products by name or description
        - name: min_price
          in: query
          schema:
            type: number
          description: Minimum price in FCFA
        - name: max_price
          in: query
          schema:
            type: number
          description: Maximum price in FCFA
        - name: sort
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, name_asc, name_desc, newest, popular]
          description: Sort order
      responses:
        '200':
          description: Products retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'

    post:
      tags: [Products]
      summary: Create product
      description: Create a new product (sellers only)
      operationId: createProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Product created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /products/{id}:
    get:
      tags: [Products]
      summary: Get product details
      description: Retrieve detailed information about a specific product
      operationId: getProduct
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Product ID
      responses:
        '200':
          description: Product retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Products]
      summary: Update product
      description: Update product information (sellers only)
      operationId: updateProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: Product updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      tags: [Products]
      summary: Delete product
      description: Delete a product (sellers only)
      operationId: deleteProduct
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Product deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /products/{id}/images:
    post:
      tags: [Products]
      summary: Upload product images
      description: Upload product images with AI enhancement
      operationId: uploadProductImages
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                  maxItems: 5
      responses:
        '200':
          description: Images uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: File too large

  # ============================================
  # CATEGORY ENDPOINTS
  # ============================================
  /categories:
    get:
      tags: [Categories]
      summary: List categories
      description: Get all product categories
      operationId: listCategories
      responses:
        '200':
          description: Categories retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  # ============================================
  # CART ENDPOINTS
  # ============================================
  /cart:
    get:
      tags: [Cart]
      summary: Get cart
      description: Retrieve current user's shopping cart
      operationId: getCart
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cart retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /cart/items:
    post:
      tags: [Cart]
      summary: Add item to cart
      description: Add a product to the shopping cart
      operationId: addCartItem
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCartItemRequest'
      responses:
        '200':
          description: Item added to cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /cart/items/{id}:
    put:
      tags: [Cart]
      summary: Update cart item
      description: Update quantity of a cart item
      operationId: updateCartItem
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Cart item updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Cart]
      summary: Remove cart item
      description: Remove an item from the cart
      operationId: removeCartItem
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Item removed from cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /cart/clear:
    delete:
      tags: [Cart]
      summary: Clear cart
      description: Remove all items from the cart
      operationId: clearCart
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Cart cleared successfully
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # ORDER ENDPOINTS
  # ============================================
  /orders:
    get:
      tags: [Orders]
      summary: List orders
      description: Get user's orders (paginated)
      operationId: listOrders
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, preparing, ready, picked_up, in_transit, delivered, cancelled]
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Orders]
      summary: Create order
      description: Place a new order from cart
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get order details
      description: Retrieve detailed information about an order
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{id}/cancel:
    post:
      tags: [Orders]
      summary: Cancel order
      description: Cancel an order (if not yet picked up)
      operationId: cancelOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          description: Order cannot be cancelled
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # QUALITY VERIFICATION ENDPOINTS (KEY DIFFERENTIATOR!)
  # ============================================
  /quality-verifications:
    post:
      tags: [Quality Verification]
      summary: Submit quality verification photos
      description: |
        **KEY DIFFERENTIATOR!**
        
        Riders submit photos of products before delivery for customer approval.
        This builds trust and reduces disputes.
      operationId: submitQualityVerification
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - order_id
                - photos
              properties:
                order_id:
                  type: integer
                  description: Order ID
                photos:
                  type: array
                  items:
                    type: string
                    format: binary
                  minItems: 1
                  maxItems: 5
                  description: Product photos (1-5 images)
                notes:
                  type: string
                  description: Optional notes from rider
      responses:
        '201':
          description: Quality verification submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /quality-verifications/{id}:
    get:
      tags: [Quality Verification]
      summary: Get quality verification
      description: Retrieve quality verification photos and status
      operationId: getQualityVerification
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Quality verification retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /quality-verifications/{id}/approve:
    post:
      tags: [Quality Verification]
      summary: Approve quality verification
      description: Customer approves the quality verification photos
      operationId: approveQualityVerification
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Quality verification approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /quality-verifications/{id}/reject:
    post:
      tags: [Quality Verification]
      summary: Reject quality verification
      description: Customer rejects the quality verification photos
      operationId: rejectQualityVerification
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  description: Reason for rejection
      responses:
        '200':
          description: Quality verification rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityVerification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # PAYMENT ENDPOINTS
  # ============================================
  /payments/initiate:
    post:
      tags: [Payments]
      summary: Initiate payment
      description: Initiate payment for an order (MTN/Orange Money)
      operationId: initiatePayment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiatePaymentRequest'
      responses:
        '200':
          description: Payment initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /payments/{id}/status:
    get:
      tags: [Payments]
      summary: Get payment status
      description: Check the status of a payment
      operationId: getPaymentStatus
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Payment status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/webhook/mtn:
    post:
      tags: [Payments]
      summary: MTN Mobile Money webhook
      description: Webhook endpoint for MTN Mobile Money payment notifications
      operationId: mtnWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid webhook data

  /payments/webhook/orange:
    post:
      tags: [Payments]
      summary: Orange Money webhook
      description: Webhook endpoint for Orange Money payment notifications
      operationId: orangeWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed
        '400':
          description: Invalid webhook data

  # ============================================
  # DELIVERY ENDPOINTS (RIDER)
  # ============================================
  /deliveries/available:
    get:
      tags: [Deliveries]
      summary: Get available deliveries
      description: Get list of available deliveries for riders
      operationId: getAvailableDeliveries
      security:
        - bearerAuth: []
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
        - name: longitude
          in: query
          required: true
          schema:
            type: number
        - name: radius
          in: query
          schema:
            type: number
            default: 5
          description: Search radius in kilometers
      responses:
        '200':
          description: Available deliveries retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Delivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /deliveries/{id}/accept:
    post:
      tags: [Deliveries]
      summary: Accept delivery
      description: Rider accepts a delivery
      operationId: acceptDelivery
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Delivery accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Delivery already accepted by another rider

  /deliveries/{id}/pickup:
    post:
      tags: [Deliveries]
      summary: Confirm pickup
      description: Rider confirms product pickup from seller
      operationId: confirmPickup
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pickup confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /deliveries/{id}/complete:
    post:
      tags: [Deliveries]
      summary: Complete delivery
      description: Rider marks delivery as completed
      operationId: completeDelivery
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  type: string
                  description: Base64 encoded customer signature
                notes:
                  type: string
      responses:
        '200':
          description: Delivery completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /deliveries/{id}/location:
    post:
      tags: [Deliveries]
      summary: Update delivery location
      description: Rider updates current location during delivery
      operationId: updateDeliveryLocation
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - latitude
                - longitude
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
      responses:
        '200':
          description: Location updated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # REVIEW ENDPOINTS
  # ============================================
  /reviews:
    post:
      tags: [Reviews]
      summary: Create review
      description: Create a review for a product or delivery
      operationId: createReview
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: Review created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /products/{id}/reviews:
    get:
      tags: [Reviews]
      summary: Get product reviews
      description: Get all reviews for a product
      operationId: getProductReviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Reviews retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewList'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # SELLER ENDPOINTS
  # ============================================
  /sellers/me/dashboard:
    get:
      tags: [Sellers]
      summary: Get seller dashboard
      description: Get seller dashboard with analytics
      operationId: getSellerDashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerDashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /sellers/me/earnings:
    get:
      tags: [Sellers]
      summary: Get seller earnings
      description: Get seller earnings and payout history
      operationId: getSellerEarnings
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Earnings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerEarnings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============================================
  # RIDER ENDPOINTS
  # ============================================
  /riders/me/dashboard:
    get:
      tags: [Riders]
      summary: Get rider dashboard
      description: Get rider dashboard with earnings and performance
      operationId: getRiderDashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard data retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiderDashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /riders/me/earnings:
    get:
      tags: [Riders]
      summary: Get rider earnings
      description: Get rider earnings and payout history
      operationId: getRiderEarnings
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Earnings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiderEarnings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /riders/me/status:
    put:
      tags: [Riders]
      summary: Update rider status
      description: Update rider online/offline status
      operationId: updateRiderStatus
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [online, offline]
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============================================
  # NOTIFICATION ENDPOINTS
  # ============================================
  /notifications:
    get:
      tags: [Notifications]
      summary: Get notifications
      description: Get user's notifications
      operationId: getNotifications
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: read
          in: query
          schema:
            type: boolean
          description: Filter by read status
      responses:
        '200':
          description: Notifications retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/{id}/read:
    post:
      tags: [Notifications]
      summary: Mark notification as read
      description: Mark a notification as read
      operationId: markNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Notification marked as read
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Mark all notifications as read
      description: Mark all user's notifications as read
      operationId: markAllNotificationsRead
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All notifications marked as read
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/device-token:
    post:
      tags: [Notifications]
      summary: Register device token
      description: Register FCM device token for push notifications
      operationId: registerDeviceToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - platform
              properties:
                token:
                  type: string
                  description: FCM device token
                platform:
                  type: string
                  enum: [ios, android]
      responses:
        '200':
          description: Device token registered
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

# ============================================
# COMPONENTS
# ============================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
        minimum: 1
      description: Page number for pagination

    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      description: Number of items per page

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized - Invalid or missing authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden - User does not have permission
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'

  schemas:
    # ============================================
    # AUTHENTICATION SCHEMAS
    # ============================================
    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
        - phone
        - role
      properties:
        name:
          type: string
          example: "Jean Dupont"
        email:
          type: string
          format: email
          example: "jean.dupont@email.com"
        password:
          type: string
          format: password
          minLength: 8
          example: "SecurePassword123!"
        phone:
          type: string
          pattern: '^\+237[0-9]{9}$'
          example: "+237650123456"
        role:
          type: string
          enum: [customer, seller, rider]
          example: "customer"
        language:
          type: string
          enum: [en, fr]
          default: en
          example: "fr"

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "jean.dupont@email.com"
        password:
          type: string
          format: password
          example: "SecurePassword123!"

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          example: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
        token_type:
          type: string
          example: "Bearer"
        expires_in:
          type: integer
          example: 3600
        user:
          $ref: '#/components/schemas/User'

    # ============================================
    # USER SCHEMAS
    # ============================================
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Jean Dupont"
        email:
          type: string
          format: email
          example: "jean.dupont@email.com"
        phone:
          type: string
          example: "+237650123456"
        avatar:
          type: string
          nullable: true
          example: "https://cdn.okada.cm/avatars/user1.jpg"
        role:
          type: string
          enum: [customer, seller, rider, admin]
          example: "customer"
        language:
          type: string
          enum: [en, fr]
          example: "fr"
        verified:
          type: boolean
          example: true
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-01-20T14:45:00Z"

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
          pattern: '^\+237[0-9]{9}$'
        language:
          type: string
          enum: [en, fr]

    # ============================================
    # PRODUCT SCHEMAS
    # ============================================
    Product:
      type: object
      properties:
        id:
          type: integer
          example: 1
        seller_id:
          type: integer
          example: 5
        name:
          type: string
          example: "Samsung Galaxy S21"
        description:
          type: string
          example: "Latest Samsung flagship smartphone with 5G"
        price:
          type: number
          format: float
          example: 350000
          description: Price in FCFA
        currency:
          type: string
          example: "FCFA"
        stock:
          type: integer
          example: 50
        images:
          type: array
          items:
            $ref: '#/components/schemas/ProductImage'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        seller:
          $ref: '#/components/schemas/SellerInfo'
        rating:
          type: number
          format: float
          example: 4.7
          nullable: true
        review_count:
          type: integer
          example: 23
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProductImage:
      type: object
      properties:
        id:
          type: integer
          example: 1
        url:
          type: string
          example: "https://cdn.okada.cm/products/samsung-s21.jpg"
        thumbnail_url:
          type: string
          example: "https://cdn.okada.cm/products/thumbs/samsung-s21.jpg"
        is_primary:
          type: boolean
          example: true
        order:
          type: integer
          example: 1

    CreateProductRequest:
      type: object
      required:
        - name
        - description
        - price
        - stock
        - category_ids
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: float
          description: Price in FCFA
        stock:
          type: integer
        category_ids:
          type: array
          items:
            type: integer

    UpdateProductRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: float
        stock:
          type: integer
        category_ids:
          type: array
          items:
            type: integer

    ProductList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # CATEGORY SCHEMAS
    # ============================================
    Category:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Electronics"
        slug:
          type: string
          example: "electronics"
        icon:
          type: string
          nullable: true
          example: "📱"
        image:
          type: string
          nullable: true
          example: "https://cdn.okada.cm/categories/electronics.jpg"
        product_count:
          type: integer
          example: 234

    # ============================================
    # CART SCHEMAS
    # ============================================
    Cart:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal:
          type: number
          format: float
          example: 450000
          description: Subtotal in FCFA
        delivery_fee:
          type: number
          format: float
          example: 1500
          description: Delivery fee in FCFA
        tax:
          type: number
          format: float
          example: 86737.5
          description: Tax (19.25% VAT) in FCFA
        total:
          type: number
          format: float
          example: 538237.5
          description: Total in FCFA
        currency:
          type: string
          example: "FCFA"

    CartItem:
      type: object
      properties:
        id:
          type: integer
          example: 1
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          type: integer
          example: 2
        price:
          type: number
          format: float
          example: 350000
          description: Unit price in FCFA
        subtotal:
          type: number
          format: float
          example: 700000
          description: Item subtotal in FCFA

    AddCartItemRequest:
      type: object
      required:
        - product_id
        - quantity
      properties:
        product_id:
          type: integer
        quantity:
          type: integer
          minimum: 1

    # ============================================
    # ORDER SCHEMAS
    # ============================================
    Order:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_number:
          type: string
          example: "ORD-20240115-001"
        customer:
          $ref: '#/components/schemas/User'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        delivery:
          $ref: '#/components/schemas/Delivery'
          nullable: true
        payment:
          $ref: '#/components/schemas/Payment'
          nullable: true
        quality_verification:
          $ref: '#/components/schemas/QualityVerification'
          nullable: true
        status:
          type: string
          enum: [pending, confirmed, preparing, ready, picked_up, in_transit, delivered, cancelled]
          example: "in_transit"
        subtotal:
          type: number
          format: float
          example: 450000
        delivery_fee:
          type: number
          format: float
          example: 1500
        tax:
          type: number
          format: float
          example: 86737.5
        total:
          type: number
          format: float
          example: 538237.5
        currency:
          type: string
          example: "FCFA"
        delivery_address:
          $ref: '#/components/schemas/Address'
        notes:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        id:
          type: integer
        product:
          $ref: '#/components/schemas/Product'
        quantity:
          type: integer
        price:
          type: number
          format: float
          description: Unit price in FCFA
        subtotal:
          type: number
          format: float
          description: Item subtotal in FCFA

    CreateOrderRequest:
      type: object
      required:
        - delivery_address
        - payment_method
      properties:
        delivery_address:
          $ref: '#/components/schemas/Address'
        payment_method:
          type: string
          enum: [mtn_money, orange_money, cash]
        phone_number:
          type: string
          pattern: '^\+237[0-9]{9}$'
          description: Phone number for mobile money payment
        notes:
          type: string

    OrderList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # QUALITY VERIFICATION SCHEMAS (KEY DIFFERENTIATOR!)
    # ============================================
    QualityVerification:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_id:
          type: integer
          example: 1
        rider_id:
          type: integer
          example: 5
        photos:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                example: "https://cdn.okada.cm/quality/photo1.jpg"
              thumbnail_url:
                type: string
                example: "https://cdn.okada.cm/quality/thumbs/photo1.jpg"
        status:
          type: string
          enum: [pending, approved, rejected]
          example: "pending"
        notes:
          type: string
          nullable: true
        rejection_reason:
          type: string
          nullable: true
        submitted_at:
          type: string
          format: date-time
        reviewed_at:
          type: string
          format: date-time
          nullable: true

    # ============================================
    # PAYMENT SCHEMAS
    # ============================================
    Payment:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_id:
          type: integer
          example: 1
        amount:
          type: number
          format: float
          example: 538237.5
          description: Amount in FCFA
        currency:
          type: string
          example: "FCFA"
        method:
          type: string
          enum: [mtn_money, orange_money, cash]
          example: "mtn_money"
        status:
          type: string
          enum: [pending, processing, completed, failed, refunded]
          example: "completed"
        transaction_id:
          type: string
          nullable: true
          example: "MTN-20240115-123456"
        phone_number:
          type: string
          example: "+237650123456"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InitiatePaymentRequest:
      type: object
      required:
        - order_id
        - payment_method
        - phone_number
      properties:
        order_id:
          type: integer
        payment_method:
          type: string
          enum: [mtn_money, orange_money]
        phone_number:
          type: string
          pattern: '^\+237[0-9]{9}$'

    # ============================================
    # DELIVERY SCHEMAS
    # ============================================
    Delivery:
      type: object
      properties:
        id:
          type: integer
          example: 1
        order_id:
          type: integer
          example: 1
        rider:
          $ref: '#/components/schemas/RiderInfo'
          nullable: true
        pickup_address:
          $ref: '#/components/schemas/Address'
        delivery_address:
          $ref: '#/components/schemas/Address'
        status:
          type: string
          enum: [pending, accepted, picked_up, in_transit, delivered, cancelled]
          example: "in_transit"
        distance:
          type: number
          format: float
          example: 5.2
          description: Distance in kilometers
        delivery_fee:
          type: number
          format: float
          example: 1500
          description: Delivery fee in FCFA
        rider_earnings:
          type: number
          format: float
          example: 1200
          description: Rider earnings in FCFA (80% of delivery fee)
        estimated_duration:
          type: integer
          example: 25
          description: Estimated duration in minutes
        actual_duration:
          type: integer
          nullable: true
          description: Actual duration in minutes
        current_location:
          type: object
          nullable: true
          properties:
            latitude:
              type: number
            longitude:
              type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ============================================
    # REVIEW SCHEMAS
    # ============================================
    Review:
      type: object
      properties:
        id:
          type: integer
          example: 1
        user:
          $ref: '#/components/schemas/User'
        product_id:
          type: integer
          nullable: true
        order_id:
          type: integer
          nullable: true
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        comment:
          type: string
          example: "Excellent product, fast delivery!"
        created_at:
          type: string
          format: date-time

    CreateReviewRequest:
      type: object
      required:
        - rating
      properties:
        product_id:
          type: integer
        order_id:
          type: integer
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string

    ReviewList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # SELLER SCHEMAS
    # ============================================
    SellerInfo:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: "Global Mart"
        logo:
          type: string
          nullable: true
          example: "https://cdn.okada.cm/sellers/global-mart.jpg"
        rating:
          type: number
          format: float
          example: 4.8
        verified:
          type: boolean
          example: true

    SellerDashboard:
      type: object
      properties:
        total_products:
          type: integer
          example: 234
        total_orders:
          type: integer
          example: 1234
        pending_orders:
          type: integer
          example: 12
        total_revenue:
          type: number
          format: float
          example: 5250000
          description: Total revenue in FCFA
        monthly_revenue:
          type: number
          format: float
          example: 450000
          description: Monthly revenue in FCFA
        currency:
          type: string
          example: "FCFA"

    SellerEarnings:
      type: object
      properties:
        total_earnings:
          type: number
          format: float
          example: 5250000
          description: Total earnings in FCFA
        available_balance:
          type: number
          format: float
          example: 125000
          description: Available balance in FCFA
        pending_balance:
          type: number
          format: float
          example: 50000
          description: Pending balance in FCFA
        currency:
          type: string
          example: "FCFA"
        payouts:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              amount:
                type: number
                format: float
              status:
                type: string
                enum: [pending, processing, completed, failed]
              created_at:
                type: string
                format: date-time

    # ============================================
    # RIDER SCHEMAS
    # ============================================
    RiderInfo:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: "Patrick Mboma"
        phone:
          type: string
          example: "+237650123456"
        avatar:
          type: string
          nullable: true
        rating:
          type: number
          format: float
          example: 4.8
        total_deliveries:
          type: integer
          example: 234

    RiderDashboard:
      type: object
      properties:
        total_deliveries:
          type: integer
          example: 234
        completed_today:
          type: integer
          example: 12
        total_earnings:
          type: number
          format: float
          example: 125000
          description: Total earnings in FCFA
        today_earnings:
          type: number
          format: float
          example: 8500
          description: Today's earnings in FCFA
        rating:
          type: number
          format: float
          example: 4.8
        acceptance_rate:
          type: number
          format: float
          example: 95
          description: Acceptance rate percentage
        currency:
          type: string
          example: "FCFA"

    RiderEarnings:
      type: object
      properties:
        total_earnings:
          type: number
          format: float
          example: 125000
          description: Total earnings in FCFA
        available_balance:
          type: number
          format: float
          example: 25000
          description: Available balance in FCFA
        pending_balance:
          type: number
          format: float
          example: 10000
          description: Pending balance in FCFA
        currency:
          type: string
          example: "FCFA"
        payouts:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              amount:
                type: number
                format: float
              status:
                type: string
                enum: [pending, processing, completed, failed]
              created_at:
                type: string
                format: date-time

    # ============================================
    # NOTIFICATION SCHEMAS
    # ============================================
    Notification:
      type: object
      properties:
        id:
          type: integer
          example: 1
        type:
          type: string
          example: "order_status_update"
        title:
          type: string
          example: "Order Delivered"
        message:
          type: string
          example: "Your order #ORD-20240115-001 has been delivered"
        data:
          type: object
          nullable: true
        read:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time

    NotificationList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # ============================================
    # COMMON SCHEMAS
    # ============================================
    Address:
      type: object
      required:
        - street
        - city
        - phone
      properties:
        street:
          type: string
          example: "123 Avenue de la Liberté"
        city:
          type: string
          example: "Douala"
        region:
          type: string
          example: "Littoral"
        postal_code:
          type: string
          nullable: true
        country:
          type: string
          example: "Cameroon"
        latitude:
          type: number
          nullable: true
        longitude:
          type: number
          nullable: true
        phone:
          type: string
          pattern: '^\+237[0-9]{9}$'
          example: "+237650123456"

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 10
        per_page:
          type: integer
          example: 20
        to:
          type: integer
          example: 20
        total:
          type: integer
          example: 200

    SuccessResponse:
      type: object
      properties:
        message:
          type: string
          example: "Operation completed successfully"

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "An error occurred"
        error:
          type: string
          example: "INVALID_REQUEST"

    ValidationErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: "The given data was invalid"
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ["The email field is required"]
            password: ["The password must be at least 8 characters"]

